{% extends 'assets/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Escolha o profissional</h1>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card" onclick="selectProfessional('fonoaudiologia', this)">
                <img src="{% static '/img/doctors/doctors-1.jpg' %}" class="card-img-top" alt="Fonoaudiologia">
                <div class="card-body">
                    <h5 class="card-title">Fonoaudiologia</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card" onclick="selectProfessional('psicologia', this)">
                <img src="{% static '/img/doctors/doctors-2.jpg' %}" class="card-img-top" alt="Psicologia">
                <div class="card-body">
                    <h5 class="card-title">Psicologia</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card" onclick="selectProfessional('psicologia', this)">
                <img src="{% static '/img/doctors/doctors-3.jpg' %}" class="card-img-top" alt="Psicologia">
                <div class="card-body">
                    <h5 class="card-title">Fonoaudiologia</h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card" onclick="selectProfessional('psicologia', this)">
                <img src="{% static '/img/doctors/doctors-4.jpg' %}" class="card-img-top" alt="Psicologia">
                <div class="card-body">
                    <h5 class="card-title">Psicologia</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-between">
        <a class="btn btn-dark" id="voltar" href="{% url 'home' %}">Voltar</a>
        <a class="btn btn-primary" id="nextButton" href="{% url 'home' %}" style="display: none;">Próximo</a>
    </div>
</div>

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    h1 {
        color: #333;
        padding-top: 90px;
	    text-align: center;
    }

    .card {
        cursor: pointer;
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .btn {
        margin-top: 10px;
	    margin-bottom: 20px;
    }

    .selected {
        border: 2px solid #007bff;
    }
</style>

<script>
    function selectProfessional(professionalType, element) {
        var cards = document.querySelectorAll('.card');
        cards.forEach(function (card) {
            card.classList.remove('selected');
        });

        element.classList.add('selected');

        document.getElementById('nextButton').style.display = 'block';
    }
</script>

{% endblock %}
